.whole {
    background-color: #e3e5e8;
}
.emblem {
    opacity: 2.0;
    width: 230px;
    padding-top: 20px;
}
.name {
    text-align: right;
    text-transform: uppercase;
    font-size: 25px;
    font-family: Michroma;
    padding-top: 50px;
}
.fend {
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Michroma;
}
hr {
    border-color: #3a3d42;
    border-top-width: medium;
}
.matrix {
    width: 100%;
}
.imagecontainer {
    text-align: center;
}

@media screen and (max-width: 360px) {
    .emblem {
        width: 80%;
        padding-left: 30px;
}
    .name {
        padding-right: 60px;
}
    .fend {
        padding-right: 90px;
}
